h2{
    color: azure;
}
h3{
    color: aliceblue;
}

body {
    /*Background patterns from subtlepatterns.com*/
    background-image: url("../img/dark-honeycomb.png");
    background-repeat: repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #cecece;
    overflow: hidden;
    margin: 0;
    position: relative;
}
.container-fluid{
    height: 100%;
    position: relative;
}

button {
    width: 150px;
    background: #e9ecef;
    color: black;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    transition:  .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.row{
    margin: 0;
    overflow: hidden;
    height:100%;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 500px;
    overflow: hidden;
    border-radius:5px;
}

.form__header {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.form__field__error {
    color: #ff4d4d;
    margin: .25rem 0;
    font-size: .8rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: 0;
    opacity: 0;
}

.form__button {
    display: flex;
    justify-content: flex-end;
}

.form__content {
    padding: 2rem;
}

.form__field {
    position: relative;
    margin: 0 0 1rem;
    width: 100%;
    color: whitesmoke;
}
.form__field:active{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.form__field__label {
    position: absolute;
    z-index: 0;
    top: .35rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form__field__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #859a9b;
    background-color: transparent;
    padding: .5rem 0;
    font-size: 1rem;
    position: relative;
    z-index: 1;
}

.form__field__state-icon {
    position: absolute;
    width: 1.5rem;
    height: 30px;
    right: .5rem;
    top: .25rem;
    background-repeat: no-repeat;
}

.form__field__input:invalid {
    border-bottom: 1px solid #ff4d4d;
}

.form__field__input:placeholder-shown {
    border-bottom: 1px solid whitesmoke;
}

.form__field__input:focus {
    outline: none;
}

.form__field__input:valid ~ .form__field__state-icon {
    background-image: url(/img/success.svg);
}

.form__field__input:invalid ~ .form__field__state-icon {
    background-image: url(/img/error.svg);
}

.form__field__input:invalid ~ .form__field__error {
    max-height: 40px;
    opacity: 1;
}

.form__field__input:placeholder-shown ~ .form__field__error {
    max-height: 0;
    opacity: 0;
}

.form__field__input:focus + .form__field__label,
.form__field__input:valid + .form__field__label,
.form__field__input:invalid + .form__field__label {
    top: -.5rem;
    font-size: .6rem;
}

.form__field__input:placeholder-shown + .form__field__label {
    top: .35rem;
    font-size: 1rem;
}
#middle{
    position: absolute;
    overflow-y: scroll;
}
.button{
    border-radius: 4px;
    border: 0 solid rgba(255, 255, 255, 0.1);;
    background-color: rgba(255, 255, 255, 0.1);;
    color: whitesmoke;
    height: 30px;
    margin:2px;

}
.button:hover {
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.62);
    border: 0 solid rgba(17, 17, 17, 0.62);
    opacity: 1;
    color: azure;
}
.table{
    background-color: rgba(100, 100, 100, 0.5);
    color: whitesmoke;
    text-align:center;
}
tr{
    text-align:center;

}
thead{
    background-color: rgba(17, 17, 17, 0.62);
    font-weight:bold;
}
