@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
    /*Background patterns from subtlepatterns.com*/
    background-image: url("../img/dark-honeycomb.png");
    background-repeat: repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    overflow: hidden;
    z-index: 0;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 10px;
    top: -15px;
}
#left .social_icon {
    position:sticky;
    text-align: center;
}


.input-group-prepend span {
    width: 50px;
    background-color: #e9ecef;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #e9ecef;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.editform {
    display: none;
}

body {
    display: block;
}

.fa-gitlab {
    color: #e2432a;
}

.fa-gitlab:hover {
    color: #fc6d27;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-linkedin:hover {
    color: #00a0dc;
}

.fa-user {
    background-color: #e9ecef;
}

.fa-key {
    background-color: #e9ecef;
}

.container-fluid {
    border: 1px solid #cecece;
    background-color: rgba(10, 10, 10, 0.68);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#middle {
    width: 60%;
    overflow-y: auto;
    height: 800px;
    margin: 10px 250px;
    -ms-overflow-style: none;
    min-width:480px;
}

#middle::-webkit-scrollbar {
    display: none;
}

#left {
    min-height: 100%;
    overflow: hidden;
    margin: 10px;
    float: left;
    min-width: 230px;
    max-width: 230px;
    padding:5px;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-x: hidden;
}
#left .button{
    float:none;
    width:100%;
    margin-bottom:10px;
}

.post {
    padding: 5px;
    background: rgba(10, 10, 10, 0.52);
    color: azure;
    border-radius: 5px;
}

.comment {
    padding: 5px;
}

.userprofilepicture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    padding: 5px;
    position: relative;
    top: -5px;
    left: -5px;
}

.userbanner {
    padding: 10px;
    background-color: dimgray;
    color: whitesmoke;
    text-align: left;
    width: 100%;
    height: 50px;
    justify-content: left;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button {
    float: left;
    border-radius: 4px;
    border: 0 solid rgba(255, 255, 255, 0.1);;
    background-color: rgba(255, 255, 255, 0.1);;
    color: whitesmoke;
    height: 30px;
    width: 48%;
    margin: 1%;
}

.button p {
    color: aliceblue;
    opacity: 1;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.62);
    border: 0 solid rgba(17, 17, 17, 0.62);
    opacity: 1;
    color: azure;
}

.signature {
    position: relative;
    top: -7px;
}

.elementupdatedate {
    font-size: 0.8rem;
    color: #859a9b;
}

.userfullname {
    font-size: 1rem;
    color: azure;
}

.elementcontent {
    background-color: rgba(14, 49, 58, 0.08);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
}

.editform button {
    border-radius: 4px;
    border: 0 solid rgba(255, 255, 255, 0.1);;
    background-color: rgba(255, 255, 255, 0.1);;
    color: whitesmoke;
    height: 30px;
    position: relative;
    top: -8px;
}

.editform button:hover {
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.62);
    border: 0 solid rgba(17, 17, 17, 0.62);
    opacity: 1;
    color: azure;
}

.editform textarea[type=text] {
    background-color: #efefef;
    color: #666666;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;
    width: 80%;
}

.addcommentform textarea[type=text] {
    background-color: #efefef;
    color: #666666;
    border: 2px solid #dddddd;
    border-radius: 5px;
    outline: none;
    width: 80%;
}

.addcommentform button {
    border-radius: 4px;
    border: 0 solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    height: 30px;
    position: relative;
    top: -8px;
}

.addcommentform button:hover {
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.62);
    border: 0 solid rgba(17, 17, 17, 0.62);
    opacity: 1;
    color: azure;
}

textarea {
    height: 30px;
}

.profilepicture {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom:5px;
    display:inline-block;
}
#left .userfullname{
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    height:30px;
}
#profileshortcut{
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.62);
    border: 0 solid rgba(17, 17, 17, 0.62);
    border-radius: 2px;
    margin-bottom: 10px;
    width: 220px;
    text-align:center;
}
.overlay {
    position: relative;
    border-radius: 10px;
    width: 100%;
}

.overlay .link {
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    background-color: #111111;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    text-align:center;
}

.overlay:hover .link {
    opacity: 1;
}
.upload{
    text-align: center;
}
#uploadimgcontainer{
    text-align: center;
    height: 250px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: inline-block;
}
#uploadimgcontainer button{
    width: auto;
    float:none;
    font-size:30px;
    padding:10px;
    height:auto;

}
#uploadimgcontainer input[type=file]{
    background-color: rgba(255, 255, 255, 0.4);
    height:auto;
    width:auto;
    font-size:20px;
    margin-top:25%;
}
.image{
    margin: 10px 10px 10px 10px;
    width: 203px;
    height: 203px;
    overflow: hidden;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
#imagecontainer{
    min-width: fit-content;
    float: left;
}
#middle #imagecontainer .button{
    width: 90%;
    margin: 0 0 10px 10px;

}
#gallery #middle{
    min-width:200px;
}
.error{
    text-align: center;
}
.error h1{
    padding: 20px
}
#errorcontainer{
    text-align: center;
    height: 250px;
    margin-top: 10%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: inline-block;
    color: azure;
}
#errorcontainer button{
    width: auto;
    float:none;
    font-size:30px;
    padding:10px;
    height:auto;

}
#blankimage{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom:5px;
    margin-top:5px;
    display:inline-block;
    background: url("../img/blank.png");
    z-index: 2;
}