<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Admin panel</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="../static/css/registerformstyle.css" th:href="@{/css/registerformstyle.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="col">
        <h1>Welcome in the administrator panel</h1>
        <form action="/addadmin">
            <button class="button" type="submit">Add new admin</button>
        </form>

        <form action="/index">
            <button class="button" type="submit">Return</button>
        </form>
    </div>
    <div class="col-6">
        <h1>Users</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>User ID</td>
                <td>Email</td>
                <td>Role</td>
                <td>User status</td>
                <td>Ban expire date</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody th:each="user : ${users}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.enabled} ? 'ACTIVE' : 'BANNED'"></td>
                <td th:text="${user.banExpireDate} ?: 'NOT SPECIFIED'"></td>
                <td>
                    <form th:action="@{/bann}" th:method="post">
                        <input type="hidden" name="userid" th:value="${user.id}">
                        <label>
                            Choose bann expire date and time:
                            <input type="date" name="date">
                            <input type="time" name="time">
                        </label>
                        <button class="button" type="submit">Ban this user</button>
                    </form>
                </td>
                <td th:if="${user.enabled==false}">
                    <form th:action="@{/unbann}" th:method="post">
                        <input type="hidden" name="userid" th:value="${user.id}">
                        <button class="button" type="submit">Unban this user</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
