<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gallery</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body id="gallery">

<div class="row">
    <div id="left">
        <form action="/uploadfile">
            <button class="button" type="submit">Add image</button>
        </form>
        <form action="/index">
            <button class="button" type="submit">Return</button>
        </form>
    </div>
    <div id="middle">
        <div id="imagecontainer" th:each="image : ${allimages}">
            <img type="image" class="image" th:src="@{'data:image/*;base64,'+${image.data}}">
            <form th:action="@{/profilepicture}" method="post">
                <button class="button" type="submit" name="id" th:value="${image.id}">Set as profile picture</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>